/* áp font cho toàn site */
:root {
  --ui-font: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--ui-font);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff; /* tùy */
  color: #222;
}

/* chắc chắn mọi element inherit font */
*,
*::before,
*::after,
button,
input,
textarea,
select {
  font-family: inherit;
  box-sizing: border-box;
}
